[submodule "scripts"]
	path = scripts
	url = git@github.com:cpp-toolbox/scripts.git
[submodule "src/graphics/window"]
	path = src/graphics/window
	url = git@github.com:cpp-toolbox/window.git
[submodule "src/graphics/fps_camera"]
	path = src/graphics/fps_camera
	url = git@github.com:cpp-toolbox/fps_camera.git
[submodule "src/graphics/shader_cache"]
	path = src/graphics/shader_cache
	url = git@github.com:cpp-toolbox/shader_cache.git
[submodule "src/utility/logger_component"]
	path = src/utility/logger_component
	url = git@github.com:cpp-toolbox/logger_component.git
[submodule "src/graphics/shader_standard"]
	path = src/graphics/shader_standard
	url = git@github.com:cpp-toolbox/shader_standard.git
[submodule "src/graphics/transform"]
	path = src/graphics/transform
	url = git@github.com:cpp-toolbox/transform.git
[submodule "src/input/mouse"]
	path = src/input/mouse
	url = git@github.com:cpp-toolbox/mouse.git
[submodule "assets/shaders"]
	path = assets/shaders
	url = git@github.com:cpp-toolbox/shaders.git
[submodule "src/utility/model_loading"]
	path = src/utility/model_loading
	url = git@github.com:cpp-toolbox/model_loading.git
[submodule "src/utility/texture_packer_model_loading"]
	path = src/utility/texture_packer_model_loading
	url = git@github.com:cpp-toolbox/texture_packer_model_loading.git
[submodule "src/graphics/draw_info"]
	path = src/graphics/draw_info
	url = git@github.com:cpp-toolbox/draw_info.git
[submodule "src/graphics/texture_packer"]
	path = src/graphics/texture_packer
	url = git@github.com:cpp-toolbox/texture_packer.git
[submodule "src/utility/rigged_model_loading"]
	path = src/utility/rigged_model_loading
	url = git@github.com:cpp-toolbox/rigged_model_loading.git
[submodule "src/input/glfw_lambda_callback_manager"]
	path = src/input/glfw_lambda_callback_manager
	url = git@github.com:cpp-toolbox/glfw_lambda_callback_manager.git
[submodule "assets/texture_packer"]
	path = assets/texture_packer
	url = git@github.com:py-garden/texture_packer.git
[submodule "src/graphics/batcher"]
	path = src/graphics/batcher
	url = git@github.com:cpp-toolbox/batcher.git
[submodule "src/graphics/vertex_geometry"]
	path = src/graphics/vertex_geometry
	url = git@github.com:cpp-toolbox/vertex_geometry.git
